@use "../../base/colors" as c;

.text-button {
  background-color: c.$white-c;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 7px 1px rgba(59, 59, 59, 0.3);
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 25px;
  text-transform: uppercase;
  display: flex;
  /*   &.logout {
    bottom: 0;
    left: 0;
    position: absolute;
  } */
}
