@use "../../base/mixins" as m;

.chapter-body {
  @include m.main-background;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  .chapter {
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    background-color: #d4d4d3d1;
    overflow: scroll;

    .chapter-container {
      width: 210mm;
      min-height: 297mm;
      background-color: white;
      margin: 2rem auto;
      box-shadow: 4px 4px 85px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
