@use "../base/colors" as c;
@use "../base/mixins" as m;

body {
  @include m.main-background;
  .main-container {
    @include m.main-container-on-background;
    .tool-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem;
    }

    .card-container {
      /* isplay: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
           */
      /* display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
      /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
      gap: 30px;
      /* grid-template-rows: repeat(auto-fill); */

      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-auto-flow: row;
      grid-auto-rows: inherit; /* play with this to change height of the children, 50% will fill half */
      /* grid-template-columns: unset; */ /* do not set template columns and rows */
      grid-template-rows: unset;

      .plan-info-card {
        background-color: rgba(255, 255, 255, 0.9);

        margin: 1rem;
        padding: 1rem 3rem;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 7px 1px rgba(59, 59, 59, 0.3);
        cursor: pointer;
        /* width: 20rem; */
        /* min-width: 300px; */
        /* max-height: 300px; */
        min-height: 10rem;

        p,
        h4 {
          word-break: normal;
          text-align: center;
        }

        h4 {
          font-size: 2rem;
        }
      }
    }
  }

  .main-page-footer {
    background-color: c.$transparent-one-c;
    height: 5vh;
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;

    .footer-container {
      width: 80vw;
      flex-direction: row;
      display: flex;
      min-height: 85%;
      justify-content: space-between;
      align-items: center;

      
    }
  }
}
