@use "../../base/colors" as c;

.sidebar {
  z-index: 1;
  height: 100%;
  width: 22%;
  background-color: c.$light-gray-c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 4px 4px 85px 5px rgba(0, 0, 0, 0.3);
  /* lex-direction: column; */
  .top {
    .active {
      font-weight: 700;
    }

    .wrong {
      color: black;
    }
  }
  .bottom {
    position: relative;
    height: 10%;

    display: flex;
    flex-direction: row;
    width: auto;
    .left {
      width: 20%;
    }
    .right {
      width: 80%;
      flex-direction: column;
      height: 100%;
      h1 {
        padding: 1rem 0;
      }
      .logout {
        width: 70%;
        svg {
          height: 100%;
          width: auto;
        }
      }
    }
    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
  }
}

.top {
  li {
    display: flex;
    p {
      margin: 3pt;
    }
  }
  a {
    display: flex;
    p {
      margin: 3pt;
    }
  }
}
