$white-c: #ffffff;
$transparent-one-c: rgba(255, 255, 255, 0.5);;
$black-c: #000000;
$light-gray-c: #dedfd8;

$light-yellow-c: #faffba;
$light-blue-c: #dffaff;
$light-pink-c: #ffe3fc;
$light-green-c: #e4ffdf;
